---
import ContentsPageShell from '../components/ContentsPageShell.astro';
import Layout from '../layouts/Layout.astro';
import { navGroups, contentsVariants } from '../lib/site-content';

const variant = contentsVariants[2];
---

<Layout title="GalexC - Contents Spine" description="GalexC contents spine scroll." noindex>
    <div class="editorial-shell px-4 py-8 md:px-6 md:py-12">
        <ContentsPageShell
            current={variant.slug}
            title={variant.title}
            intro={variant.intro}
        >
            <div class="contents-spine">
                {
                    navGroups.map((group) => (
                        <section class="contents-spine__group">
                            <p class="contents-spine__title">{group.title}</p>
                            <p class="contents-spine__intro">{group.intro}</p>
                            <div class="contents-spine__links">
                                {
                                    group.items.map((item) => (
                                        <a class="contents-spine__link" href={`/${item.slug}`}>
                                            <span class="contents-spine__label">{item.label}</span>
                                            <span class="contents-spine__blurb">{item.blurb}</span>
                                        </a>
                                    ))
                                }
                            </div>
                        </section>
                    ))
                }
            </div>
        </ContentsPageShell>
    </div>
</Layout>
